mixin about()
  section#about.about-section
    .container
      .about-card
        header.about-card__header
          h2 About me
          h4 Few words about me...
        .about-card__info
          p I am an MSc in Biomedical Engineering and specialize in Medical Informatics. I gained my first experience by taking part in scientific projects like Virtual Reality based simulator for neurosurgeons and carrying out quantitive scientific research using my implementations of cognitive tests in VR. I want to develop my professional career in the IT industry, creating new solutions for medicine and public health. For over 5 years I have been working on the use of the latest technologies, including VR, in diagnostics and therapy. For the last 2 years I have also been involved in the application of AR in industry.
          //- blockquote
          //-   p Donec non tincidunt massa. Vestibulum vel ultrices velit. Integer eget nibh vitae velit condimentum viverra vel eget diam. Ut facilisis finibus nisi ac feugiat. Nullam consectetur neque in est posuere feugiat et nec arcu. Pellentesque sit amet sapien lorem.
          //p
          p.about-card__info-status
            span Current status:
            |  Available for cooperation
